<link type="text/css" rel="stylesheet" href="/home.css"/>

<section class="jumbotron text-center">
    <div class="container">
        {{#if loggedIn}}
            <h1 class="jumbotron-heading">Welcome {{username}}! </h1>
            <p class="lead text-muted">FastWin is a fast growing platform that brings players across the globe to compete against each other.</p>
            <a href="/hubs/all" class="btn btn-primary my-2">Discover hubs!</a>
            <a href="/users/" class="btn btn-secondary my-2">Checkout other players!</a>
        {{else}}
            <h1 class="jumbotron-heading">Platform by gamers!</h1>
            <p class="lead text-muted">Please login or register an account to begin your competetive era!</p>

            <a href="/log" class="btn btn-primary my-2">Login / Register</a>
        {{/if}}        
    </div>
</section>
<div class="row">
    <div class="col-md-6 text-center">
        <h2>Featured hubs</h2>
        {{#if featuredHubs.length}}
            {{#each featuredHubs}}
                <div class="card">
                    <div class="card-header">
                        <a href="/hubs/{{this.id}}">{{this.hubName}}</a>
                    </div>
                    <div class="card-body">
                        {{this.description}}
                    </div>
                </div>
            {{/each}}
        {{else}}
            <h5>There are currently no featured hubs!</h5>
        {{/if}}
    </div>

    <div class="col-md-6 text-center">
        <h2>Featured tournaments</h2>
        {{#if featuredTournaments.length}}
            {{#each featuredTournaments}}
                <div class="card">
                    <div class="card-header">
                        <a href="/tournaments/{{this.id}}">{{this.tournamentName}}</a>
                    </div>
                    <div class="card-body">
                        {{this.game}}
                    </div>
                </div>
            {{/each}}
        {{else}}
            <h5>There are currently no featured tournaments!</h5>
        {{/if}}
    </div>        
</div>
