<div class="row">
    <div class="col-md-12">
        <header>
            <h1 class="mb-3" style="display: inline;">{{hub.hubName}}</h1>
            <a type="button" class="btn btn-success btn-lg pull-right" href="/hubs/{{hub.id}}/members" role="button" style="color: white;">Members</a>
        </header>
    </div>
    <div class="col-md-12">
        <hr class="mb-4">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <form method="POST" action="/hubs/{{hub.id}}/subscribe">
                    <button type="submit" class="btn btn-success btn-lg pull-right" >{{#if subscribed}}Unsubscribe{{else}}Subscribe{{/if}}</button>
                </form>
                <div id="postsContainer" style="padding-top: 60px;">   <!-- MOVE THE CHANGES IN THE STYLE ATTRIBUTE TO A CSS FILE -->
                    {{#if loggedIn}}
                        <form method="POST" action="/posts/create">
                            <div class="form-group" id="titlePlacement">
                                <label for="exampleInputUsername">Title</label>
                                <input type="text" class="form-control" id="username" name="username" value="{{username}}">
                            </div>

                            <div class="form-group" id="contentPlacement">
                                <label for="exampleInputUsername">Content</label>
                                <input type="text" class="form-control" id="username" name="username" value="{{username}}">
                            </div>
                        </form>
                    {{/if}}
                    {{#if posts}}
                        {{#each posts}}
                            <!-- ADD ALL POSTS -->
                            <!-- add delete and edit button if user userId == posts.userId -->
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>


