<div class="row">
    <div class="col-md-12">
        <header>
            <h1 class="mb-3" style="display: inline;">{{hub.hubName}}</h1>
            <a type="button" class="btn btn-success btn-lg pull-right" href="/hubs/{{hub.id}}/members" role="button" style="color: white;">Members</a>
        </header>
    </div>
    <div class="col-md-12">
        <hr class="mb-4">
        <form method="POST" action={{#if isSubbed}}"/hubs/{{hub.id}}/unsubscribe"{{else}}"/hubs/{{hub.id}}/subscribe"{{/if}}>
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            <button type="submit" class="btn btn-success btn-lg pull-right" >{{#if isSubbed}}Unsubscribe{{else}}Subscribe{{/if}}</button>
        </form>
    </div>
</div>


