<div class="container">
    <div class="row row-cols-1">
        <div class="col">
            <h1>{{user.username}}</h1>
            <p>Member since: "some date"</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Most active in: </h4>
            {{#if top3Hubs}}
                {{#each top3Hubs}}
                    <div class="card">
                        <div class="card-body">
                            {{this.hubName}}
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <p>{{@root.user.username}} Seems to not be active in any hubs</p>
            {{/if}}
            <noscript>
                <h4>All hubs {{user.username}} is subscribed to</h4>
                {{#if hubs}}
                    {{#each hubs}}
                        <div class="card">
                            <div class="card-body">
                                {{this.hubName}}
                            </div>
                        </div>
                    {{/each}}
                {{/if}}
            </noscript>
        </div>
        <div class="col">
            <h4>Latest posts: </h4>
        </div>
    </div>
</div>