<link type="text/css" rel="stylesheet" href="/dashboard.css">

<!--  TODO: Write some hbs code that shows a message with a link to showing all hubs/tournaments/teams if the user is not logged in -->

<nav class="col-md-3 d-none d-lg-block bg-light sidebar">
    <div class="sidebar-sticky navbarToggler" id="second">
        <ul class="nav flex-column">
            <li class="nav-item"> <!--Hubs-->
                <span id="singleLineForce">
                    <a role="button" class="nav-item nav-link dashboardLink dashboardItemHeader" ><p class="defaultarrow"style="white-space: nowrap;">Hubs</p></a>
                        <span id="forcMultipleLines">
                            <a role="button" class="nav-item text-center nav-link btn btn-secondary btn-sm pull-right moreInfoBtn stack" href={{#if loggedIn}}"/hubs/create"{{else}}"/log"{{/if}}>+</a>
                            <a role="button" class="nav-item text-center nav-link btn btn-secondary btn-sm pull-right moreInfoBtn stack" href="/hubs/all"><img src="/images/magnifying_glass.png" /></a>
                        </span>                
                    </span>
                <ul class="nav flex-column dropdownDisable dropdown">
                    <li class="dashboardListItem">
                        {{#if hubs.length}}
                            {{#each hubs}}
                                <a class="nav-link dashboardLink" href="/hubs/{{id}}"> {{hubName}}</a>
                            {{/each}}
                        {{else}}
                            <span>
                                <p style="background-color: gray;">{{#if loggedIn}} Go subscribe to some <a href="/hubs/all">hubs!</a>{{else}} <a href="/log">Login</a> to view your hubs!{{/if}}</p>
                            </span>
                        {{/if}}
                    </li>
                </ul>
            </li>
            <li class="nav-item"> <!--Tournaments-->
                <span id="singleLineForce">
                    <a role="button" class="nav-item nav-link dashboardLink dashboardItemHeader" ><p class="defaultarrow" style="white-space: nowrap;">Tournaments</p></a>
                    <span id="forcMultipleLines">
                        <a role="button" class="nav-item text-center nav-link btn btn-secondary btn-sm pull-right moreInfoBtn stack" href={{#if loggedIn}}"/tournaments/create"{{else}}"/log"{{/if}}>+</a>
                        <a role="button" class="nav-item text-center nav-link btn btn-secondary btn-sm pull-right moreInfoBtn stack" href="/tournaments/all"><img src="/images/magnifying_glass.png" /></a>
                    </span>
                </span>
                <ul class="nav flex-column dropdownDisable dropdown">
                    <li class="dashboardListItem">
                        {{#if tournaments.length}}
                            {{#each tournaments}}
                                <a class="nav-link dashboardLink" href="/tournaments/{{id}}"> {{tournamentName}}</a>
                            {{/each}}
                        {{else}}
                            <span>
                                <p style="background-color: gray;">{{#if loggedIn}} Go join to some <a href="/tournaments/all">tournaments!</a>{{else}} <a href="/log">Login</a> to view your tournaments!{{/if}}</p>
                            </span>
                        {{/if}}
                    </li>
                </ul>
            </li>
            <li class="nav-item"> <!--Teams-->
                <span id="singleLineForce">
                    <a role="button" class="nav-item nav-link dashboardLink dashboardItemHeader" ><p class="defaultarrow"style="white-space: nowrap;">Teams</p></a>
                    <span id="forcMultipleLines">
                        <a role="button" class="nav-item text-center nav-link btn btn-secondary btn-sm pull-right moreInfoBtn stack" href={{#if loggedIn}}"/teams/create"{{else}}"/log"{{/if}}>+</a>
                        <a role="button" class="nav-item text-center nav-link btn btn-secondary btn-sm pull-right moreInfoBtn stack" href="/teams/all"><img src="/images/magnifying_glass.png" /></a>
                    </span>
                </span>
                <ul class="nav flex-column dropdownDisable dropdown">
                    <li class="dashboardListItem">
                        {{#if item.contentLinks.length}}
                            {{#each item.contentLinks as |innerLink|}}
                            <a class="nav-link dashboardLink" href="/hubs/{{innerLink.id}}"> {{innerLink.name}}</a>
                            {{/each}}
                        {{else}}
                            <span>
                                <p style="background-color: gray;">{{#if loggedIn}} Go join to some <a href="/teams/all">teams!</a>{{else}} <a href="/log">Login</a> to view your teams!{{/if}}</p>
                            </span>
                        {{/if}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>